<div>
  <h2>Admin Actions</h2>
  <p>Welcome, Admin!</p>
</div>

<div> 
    <h2>Add glimpses</h2>
    <Label for="glimpsesValue">Value</Label>
    <input type="text" [(ngModel)]="glimpsesValue" />
    <Label for="glimpsesDescription">Description</Label>
    <input type="text" [(ngModel)]="glimpsesDescription" />
    <button (click)="addGlimpses()">Add Glimpses</button>
</div>

<div> 
    <h2>Add About</h2>
    <Label for="Description">Value</Label>
    <input type="text" [(ngModel)]="description value" />
    <button (click)="addDesc()">Add Description</button>
    <Label for="keyWord">Keyword</Label>
    <input type="text" [(ngModel)]="Keyword" />
    <button (click)="addKeywords()">Add Glimpses</button>
</div>